main {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/getty/2083454645/:/rs=w:1350,m");
}

main > p {
	font-family: "Playfair Display", Georgia, serif;
}

main > h1 {
  font-family: "Source Sans Pro", arial, sans-serif;
}

footer > h2 {
	font-family: "Playfair Display", Georgia, serif;
}