html {
    scroll-behavior: smooth;
}

body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    background-color: oklch(97.12% .002 325.59);
}

a {
    text-decoration: none;
    color: inherit;
}

#root {
    width: 100dvw;
    height: 100dvh;
}

/* Header styles */
.pageHeader {
    display: flex;
    background-color: #05162a;
    justify-content: space-between;
}

.logo {
    padding-left: 10px;
    max-width: 20dvw;
    height: auto;
    max-height: 7dvh;
}

.navButtons {
    width: 40dvw;
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: "Source Sans Pro", arial, sans-serif;
}

.aboutUsNavButton, .servicesNavButton {
    flex: 1;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicesNavButton {
    flex-direction: column;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

.dropdown-content ul {
    list-style-type: none;
    margin-inline-start: 0px;
    padding-inline-start: 0px;
    margin: 0px
}

.dropdown-content li {
    background-color: #05162a;
    padding: 5%;
}

.aboutUsNavButton:hover, .servicesNavButton:hover, .dropdown-content li:hover {
    background-color: rgb(48, 55, 117);
}

.servicesNavButton:hover .dropdown-content {
    display: block;
}

/* Main Body styles */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80dvh;
}

.cover-section {
    flex: 50dvh 1;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), 
        url("//img1.wsimg.com/isteam/getty/2083454645/:/rs=w:1350,m");
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Source Sans Pro", arial, sans-serif;
}

.cover-section > h1 {
    letter-spacing: 1em;
}

.cover-section > p {
    font-size: 3rem;
    font-family: "Playfair Display", Georgia, serif;
    padding-bottom: 60px;
}

.service-section {
    flex: 30dvh 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.service-section > h2 {
    flex: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
}

.service-description {
    padding: 2%;
    hyphens: auto;
    font-weight: 200;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-description a {
    margin-left: auto;
    padding-right: 3%;
}

.service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #999;
    margin: 2%;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #777777;
}

.service-grid ul {
    list-style-type: none;
    margin-inline-start: 0px;
    padding-inline-start: 0px;
}

.service-grid li {
    padding: 2%;
    font-weight: bold;
}

.service-grid button {
    width: 100%;
    height: 100%;
    padding: 2%
}

.about-us-section {
    flex: 1;
    display: flex;
    justify-content: space-between;
    min-height: 50dvh;
    background: 
        linear-gradient(to right, rgb(5, 22, 42) 10%, transparent),
        url(./assets/About_Us.png);
    background-position: bottom;
    background-size: cover;
}

.about-us-section > div {
    max-width: 30dvw;
    color: white;
}

.about-us-section > div > p {
    padding: 30px;
    text-align: justify;
}

.about-us-section h2 {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.about-us-section blockquote {
    font-size: 1.5rem;
}