body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    background-color: oklch(97.12% .002 325.59);
}

#root {
    width: 100dvw;
    height: 100dvh;
}

/* Header styles */
.pageHeader {
    display: flex;
    background-color: #05162a;
    justify-content: space-between;
}

.logo {
    padding-left: 10px;
    max-width: 7dvw;
    height: auto;
    max-height: 7dvh;
}

.navButtons {
    width: 40dvw;
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: "Source Sans Pro", arial, sans-serif;
}

.homeNavButton, .aboutUsNavButton, .servicesNavButton {
    flex: 1;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicesNavButton {
    flex-direction: column;
}

.dropdown-content {
    display: none;
}

.servicesNavButton:hover .dropdown-content {
    display: block;
}

/* Main Body styles */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80dvh;
}

.cover-section {
    flex: 50dvh 1;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), 
        url("//img1.wsimg.com/isteam/getty/2083454645/:/rs=w:1350,m");
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Source Sans Pro", arial, sans-serif;
}

.cover-section > h1 {
    letter-spacing: 1em;
}

.cover-section > p {
    font-size: 3rem;
    font-family: "Playfair Display", Georgia, serif;
    padding-bottom: 60px;
}

.service-section {
    flex: 30dvh 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.service-section > h2 {
    flex: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
}

.services-list {
    flex: 3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.service-card {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    box-shadow: 7px 8px 5px 0px #777777;
    border: 1px solid #999;
    border-radius: 3px;
    max-width: 15dvw;
    min-height: 30dvh;
    background-color: white;
}

.service-card:hover {
    background-color: rgba(213, 236, 245, 0.5);
}

.service-name {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

.service-description {
    padding-left: 20px;
    padding-right: 20px;
    hyphens: auto;
    font-weight: 200;
    font-size: 0.875rem;
}

.about-us-section {
    flex: 1;
    display: flex;
    justify-content: space-between;
    min-height: 50dvh;
    background: 
        linear-gradient(to right, rgb(5, 22, 42) 10%, transparent),
        url(./assets/About_Us.png);
    background-position: bottom;
    background-size: cover;
}

.about-us-section > div {
    max-width: 30dvw;
    color: white;
}

.about-us-section > div > p {
    padding: 30px;
    text-align: justify;
}

.about-us-section h2 {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.about-us-section blockquote {
    font-size: 1.5rem;
}